.m-div-display {
    @apply bg-black h-full relative w-[390px];
}

.m-div-coin-marquee {
    @apply h-[61px] overflow-hidden relative w-[380px] border-b border-[#222531] border-t bg-[#10181f];
    border-bottom-style: solid;
    border-top-style: solid;
}
.m-div-coin-marquee .m-link-wrapper {
    @apply items-start flex h-[60px] absolute w-[141px] pl-0 pr-[31px] pt-0 pb-[59px] border-[#40424e] border-r left-0 top-px;
    border-right-style: solid;
    /* overflow: hidden; */
}
.m-div-coin-marquee .m-link {
    @apply items-start inline-flex flex-[0_0_auto] flex-col mb-[-46px] relative pl-4 pr-0 pt-[11px] pb-0;
}
.m-div-coin-marquee .m-text-wrapper {
    @apply text-[#808a9d] text-[9px] font-normal tracking-[0] leading-[18px] relative whitespace-nowrap w-fit -mt-px;
    font-family: "Maven Pro-Regular", Helvetica;
}
.m-div-coin-marquee .m-SVG {
    @apply h-[18px] relative w-[94px];
}
.m-div-coin-marquee .m-div-coin-marquee-wrapper {
    @apply h-[57px] overflow-hidden absolute w-[1297px] left-[141px] top-0.5;
}
.m-div-coin-marquee .m-div {
    @apply items-start inline-flex left-[-905px] relative pl-[880px] pr-[4400px] py-0;
}
.m-div-coin-marquee .m-div-2 {
    @apply items-start inline-flex flex-[0_0_auto] min-w-[220px] relative px-4 py-0;
}
.m-div-coin-marquee .m-link-2 {
    @apply h-[57px] relative w-[188px];
}
.m-div-coin-marquee .m-element-png {
    @apply h-5 absolute w-[11px] left-[9px] top-[18px];
}
.m-div-coin-marquee .m-div-3 {
    @apply items-start inline-flex flex-col gap-[1.65px] absolute pl-0 pr-7 pt-0 pb-[0.35px] left-7 top-[15px];
}
.m-div-coin-marquee .m-div-4 {
    @apply items-center inline-flex flex-[0_0_auto] justify-between relative;
}
.m-div-coin-marquee .m-div-wrapper {
    @apply items-start inline-flex flex-[0_0_auto] relative pt-0 pb-px px-0;
}
.m-div-coin-marquee .m-text-wrapper-2 {
    @apply text-white text-xs font-semibold tracking-[0] leading-3 relative whitespace-nowrap w-fit -mt-px;
    font-family: "Maven Pro-SemiBold", Helvetica;
}
.m-div-coin-marquee .m-div-wrapper-2 {
    @apply items-start inline-flex flex-[0_0_auto] relative;
}
.m-div-coin-marquee .m-text-wrapper-3 {
    @apply text-[#a1a7bb] text-[9.9px] font-normal tracking-[0] leading-[11px] relative whitespace-nowrap w-fit -mt-px;
    font-family: "Maven Pro-Regular", Helvetica;
}
.m-div-coin-marquee .m-div-5 {
    @apply h-[11px] relative w-[48.86px];
}
.m-div-coin-marquee .m-span-coin-marquee {
    @apply h-[18px] absolute w-2 border-t-[5px] border-x-4 border-[#ea3943] left-0 top-1;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
}
.m-div-coin-marquee .m-text-wrapper-4 {
    @apply text-[#ea3943] text-[11px] font-semibold h-[11px] tracking-[0] leading-[11px] absolute whitespace-nowrap left-[11px] -top-px;
    font-family: "Maven Pro-SemiBold", Helvetica;
}
.m-div-coin-marquee .m-pseudo {
    @apply bg-[#40424e] h-5 absolute w-px left-[219px] top-5;
}
.m-div-coin-marquee .m-img {
    @apply h-5 absolute w-5 left-0 top-[18px];
}
.m-div-coin-marquee .m-div-6 {
    @apply items-start inline-flex flex-col gap-[1.65px] absolute pl-0 pr-[50px] pt-0 pb-[0.35px] left-7 top-[15px];
}
.m-div-coin-marquee .m-div-7 {
    @apply items-center inline-flex flex-[0_0_auto] justify-between pr-[3.81e-6px] relative pl-0 py-0;
}
.m-div-coin-marquee .m-div-8 {
    @apply h-[11px] relative w-[48.8px];
}
.m-div-coin-marquee .m-element-png-2 {
    @apply h-5 left-[-1364px] absolute top-[-2644px] w-5;
}
.m-div-coin-marquee .m-div-9 {
    @apply items-start inline-flex flex-col gap-[1.65px] absolute pl-0 pr-[88px] pt-0 pb-[0.35px] left-7 top-[15px];
}
.m-div-coin-marquee .m-div-10 {
    @apply h-[11px] relative w-[46.99px];
}
.m-div-coin-marquee .m-element-png-3 {
    @apply h-5 left-[-1584px] absolute top-[-2644px] w-5;
}
.m-div-coin-marquee .m-div-11 {
    @apply items-start inline-flex flex-col gap-[1.65px] absolute pl-0 pr-[66px] pt-0 pb-[0.35px] left-7 top-[15px];
}
.m-div-coin-marquee .m-div-wrapper-3 {
    @apply items-start inline-flex flex-[0_0_auto] relative pl-[11px] pr-0 py-0;
}
.m-div-coin-marquee .m-text-wrapper-5 {
    @apply text-[#16c784] text-[11px] font-semibold tracking-[0] leading-[11px] relative whitespace-nowrap w-fit -mt-px;
    font-family: "Maven Pro-SemiBold", Helvetica;
}
.m-div-coin-marquee .m-element-png-4 {
    @apply h-5 left-[-1804px] absolute top-[-2644px] w-5;
}
.m-div-coin-marquee .m-div-12 {
    @apply h-[11px] relative w-[48.47px];
}
.m-div-coin-marquee .m-element-png-5 {
    @apply h-5 left-[-2024px] absolute top-[-2644px] w-5;
}
.m-div-coin-marquee .m-div-13 {
    @apply items-start inline-flex flex-col gap-[1.65px] absolute pl-0 pr-[75px] pt-0 pb-[0.35px] left-7 top-[15px];
}
.m-div-coin-marquee .m-div-14 {
    @apply h-[11px] relative w-[27.11px];
}
  