.m-outerContainer {
    @apply items-start bg-[url(/images/background-resource-algo.png)] bg-[50%_50%] bg-cover flex h-[760px] justify-center relative w-[390px] pt-0 pb-36 px-2;
}
.m-div-hero {
    @apply items-start bg-[url(/images/div-hero.png)] bg-[50%_50%] bg-cover flex h-[760px] justify-center relative w-[390px] opacity-[calc(50%)] pt-0 pb-36 px-2;
}
.m-div-hero .m-div-w-container {
    @apply h-[616px] relative w-[374px];
}
.m-div-hero .m-heading {
    @apply h-[228px] left-[-9px] absolute w-[374px] top-[146px];
}
.m-div-hero .m-text-wrapper {
    @apply text-white text-4xl font-bold h-[227px] tracking-[0] leading-[52px] absolute w-[374px] left-[17px] top-0;
    font-family: "Rubik-Bold", Helvetica;
}
.m-div-hero .m-p-newsletter {
    @apply items-start flex absolute w-[374px] pl-0 pr-[17px] py-0 left-2 top-[374px];
}
.m-div-hero .m-algorinth-labs-is {
    @apply text-white text-base font-normal h-[158px] tracking-[0] leading-7 mr-[-17px] relative w-[374px] -mt-px;
    font-family: "Open Sans-Regular", Helvetica;
}
.m-div-hero .m-link {
    @apply items-start bg-[#2a333d] rounded inline-flex absolute pl-6 pr-[24.81px] pt-[7px] pb-[9px] left-2 top-[570px];
}
.m-div-hero .m-request-AN-AUDIT {
    @apply text-white text-sm font-medium tracking-[1.5px] leading-[30px] relative whitespace-nowrap w-fit -mt-px;
    font-family: "Rubik-Medium", Helvetica;
}
.m-div-hero .m-overlap-group {
    @apply h-[105px] left-[-9px] absolute top-[-5px] w-[387px];
}
.m-div-hero .m-element-removebg-preview {
    @apply h-[79px] object-cover absolute w-[111px] left-0 top-0;
}
  