.div-footer {
    border: 1px none;
    background-position: 50% 50%;
  }
  
  .div-footer .div-w-row {
    gap: 150px;
    padding: 0px 0.05px 0px 0px;
    }
  
  .div-footer .div-w-col {
    gap: 24px;
    padding: 9px 10px 10px;
    width: 320px;
  }
  
  .div-footer .heading-ABOUT-US {
    font-family: "Rubik-Medium", Helvetica;
    letter-spacing: 2px;
    width: fit-content;
  }
  
  .div-footer .p-light {
    flex: 0 0 auto;
    padding: 0px 1.98px 1px 0px;
    }
  
  .div-footer .text-wrapper {
    font-family: "Open Sans-Regular", Helvetica;
    width: 298px;
  }
  
  .div-footer .learn-more {
    font-family: "Rubik-Medium", Helvetica;
    letter-spacing: 1.5px;
    width: fit-content;
  }
  
  .div-footer .div {
    min-height: 1px;
    width: 310px;
  }
  
  .div-footer .heading-connect {
    font-family: "Rubik-Medium", Helvetica;
    left: 69px;
    letter-spacing: 2px;
    top: 8px;
    }
  
  .div-footer .div-w-layout-grid {
    left: 41px;
    top: 70px;
  }
  
  .div-footer .img {
    top: -3px;
    }
  
  .div-footer .div-link-footer {
    left: 28px;
    padding: 0px 0px 5px;
    top: -1px;
  }
  
  .div-footer .text-wrapper-2 {
    font-family: "Open Sans-SemiBold", Helvetica;
    width: fit-content;
  }
  
  .div-footer .div-wrapper {
    left: 158px;
    max-width: 299.98px;
    padding: 0px 89px 5px 0px;
    top: -1px;
  }
  
  .div-footer .text-wrapper-3 {
    font-family: "Open Sans-SemiBold", Helvetica;
    width: fit-content;
  }
  
  .div-footer .link-2 {
    top: 40px;
}
  
  .div-footer .link-3 {
    left: 158px;
    max-width: 299.98px;
    padding: 0px 72px 5px 0px;
    top: 39px;
  }
  
  .div-footer .link-4 {
    top: 80px;
  }
  
  .div-footer .link-5 {
    left: 158px;
    max-width: 299.98px;
    padding: 0px 112px 5px 0px;
    top: 79px;
  }
  
  .div-footer .div-w-col-2 {
    width: 392px;
  }
  
  .div-footer .heading-join-our {
    font-family: "Rubik-Medium", Helvetica;
    left: 82px;
    letter-spacing: 2px;
    top: 8px;
  }
  
  .div-footer .stay-informed-about-wrapper {
    left: 82px;
    padding: 0px 35.98px 1px 0px;
    top: 54px;
    width: 372px;
  }
  
  .div-footer .stay-informed-about {
    font-family: "Open Sans-Regular", Helvetica;
    width: fit-content;
  }
  
  .div-footer .form-tob-newsletter {
    gap: 18px;
    left: 82px;
    top: 130px;
    width: 310px;
  }
  
  .div-footer .input {
    border: 1px solid;
    padding: 9.5px 13px;
    width: 299.98px;
  }
  
  .div-footer .div-placeholder {
    padding: 0px 155.98px 0px 0px;
    width: 273.98px;
  }
  
  .div-footer .text-wrapper-4 {
    font-family: "Open Sans-Regular", Helvetica;
    line-height: normal;
    width: fit-content;
  }
  
  .div-footer .subscribe-wrapper {
    border: 3px solid;
    flex: 0 0 auto;
    padding: 6px 17.27px 6px 16px;
  }
  
  .div-footer .subscribe {
    font-family: "Rubik-Medium", Helvetica;
    letter-spacing: 1.5px;
    width: fit-content;
  }
  