@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-rubik);
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
}

.gradient1 {
  background: linear-gradient(157.28deg, rgba(148, 38, 186, 0) 41.63%, #9426ba 79.18%);
}

.gradient2 {
  background: linear-gradient(157.28deg, #df40a9 7.22%, #4d35a3 57.07%);
}

.animate-fade-out {
  animation: fadeOut 5s forwards;
}

.orange-gradient {
  background: linear-gradient(180deg, #CE8658 2.39%, #CF9B62 30.85%, #93A8AF 66.95%);
}
.orange-gradient-invert {
  background: linear-gradient(180deg, #93A8AF 2.39%, #CF9B62 78.13%, #CE8658 99.99%);
}

.step-badge {
  background: linear-gradient(180deg, #EA5501 0%, #AF2A00 100%);
}

@keyframes fadeOut {
  from {
    /* opacity: 1; */
    display: flex;
  }
  to {
    /* opacity: 0; */
    display: none;
  }
}
