@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.gradient1 {
  background: linear-gradient(157.28deg, rgba(148, 38, 186, 0) 41.63%, #9426ba 79.18%);
}

.gradient2 {
  background: linear-gradient(157.28deg, #df40a9 7.22%, #4d35a3 57.07%);
}

.animate-fade-out {
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  from {
    /* opacity: 1; */
    display: flex;
  }
  to {
    /* opacity: 0; */
    display: none;
  }
}
