.outerContainer {
  @apply bg-[url(/images/background-resource-algo.png)] items-start bg-[50%_50%] bg-cover border justify-center relative border-none;
}
.div-hero {
  @apply bg-[url(/images/div-hero.png)] items-start bg-[50%_50%] bg-cover border flex justify-center relative opacity-50 border-none;
}
.div-hero .div-w-container {
  @apply h-[718px] max-w-[940px] relative w-[940px];
}
.div-hero .heading-we-don-t {
  @apply leading-[52px] top-80;
  font-family: "Rubik-Bold", Helvetica;
}
.div-hero .p-newsletter {
  @apply items-start flex absolute w-[940px] pl-0 pr-36 py-0 left-0 top-[420px];
}
.div-hero .algorinth-labs-is {
  @apply text-white text-base font-normal tracking-[0] leading-7 mr-[-137px] relative w-fit -mt-px;
  font-family: "Open Sans-Regular", Helvetica;
}
.div-hero .link {
  @apply items-start bg-[#2a333d] border rounded inline-flex absolute pl-6 pr-[24.81px] pt-[7px] pb-[9px] border-solid border-black -left-0.5 top-[518px];
}
.div-hero .request-an-AUDIT {
  @apply text-white text-sm font-medium tracking-[1.5px] leading-[30px] relative whitespace-nowrap w-fit -mt-px;
  font-family: "Rubik-Medium", Helvetica;
}
.div-hero .overlap-group {
  @apply h-[129px] absolute w-[942px] -left-0.5 top-0;
}
.div-hero .banner {
  @apply h-[60px] absolute w-[940px] left-0.5 top-8;
}
.div-hero .link-home-trail-of {
  @apply h-[13px] absolute w-8 left-0 top-5;
}
.div-hero .navbar { 
  @apply h-[60px] absolute w-[813px] left-[169px] top-0;
}
