.outerContainer {
    background-image: url(/images/background-resource-algo.png);
    background-position: 50% 50%;
    border: 1px none;
    }
  
  .div-hero {
    background-image: url(/images/div-hero.png);
    background-position: 50% 50%;
    border: 1px none;
    opacity: 0.5;
  }
  
  .div-hero .div-w-container {
    height: 718px;
    max-width: 940px;
    width: 940px;
  }
  
  .div-hero .heading-we-don-t {
    font-family: "Rubik-Bold", Helvetica;
    line-height: 52px;
    top: 320px;
  }
  
  .div-hero .p-newsletter {
    padding: 0px 144px 0px 0px;
    top: 420px;
    width: 940px;
  }
  
  .div-hero .algorinth-labs-is {
    font-family: "Open Sans-Regular", Helvetica;
    width: fit-content;
  }
  
  .div-hero .link {
    border: 1px solid;
    left: -2px;
    padding: 7px 24.81px 9px 24px;
    top: 518px;
  }
  
  .div-hero .request-an-AUDIT {
    font-family: "Rubik-Medium", Helvetica;
    letter-spacing: 1.5px;
    width: fit-content;
  }
  
  .div-hero .overlap-group {
    left: -2px;
    width: 942px;
  }
  
  .div-hero .banner {
    left: 2px;
    top: 32px;
    width: 940px;
  }
  
  .div-hero .link-home-trail-of {
    top: 20px;
    }
  
  .div-hero .navbar {
    left: 169px;
    width: 813px;
  }