.div-w-row {
    @apply items-start flex bg-[#10181f] flex-col h-[653px] relative w-[374px];
}
.div-w-row .div-w-col {
    @apply items-start flex flex-col gap-6 h-[169px] relative w-[374px] pt-[9px] pb-5 px-2.5;
}
.div-w-row .p-light {
    @apply h-[50px] relative w-[354px];
}
.div-w-row .heading-ABOUT-US {
    @apply text-[#8294a3] text-base font-medium h-6 tracking-[2px] leading-6 absolute whitespace-nowrap left-[140px] top-2;
    font-family: "Rubik-Medium", Helvetica;
}
.div-w-row .text-wrapper {
    @apply text-[#8294a3] text-sm font-normal h-[108px] tracking-[0] leading-[26px] absolute w-[306px] left-[34px] top-[38px];
    font-family: "Open Sans-Regular", Helvetica;
}
.div-w-row .div {
    @apply flex-[0_0_auto] min-h-[1px] relative w-[374px];
}
.div-w-row .heading-connect {
    @apply text-[#8294a3] text-base font-medium h-6 tracking-[2px] leading-6 absolute whitespace-nowrap left-[102px] top-2;
    font-family: "Rubik-Medium", Helvetica;
}
.div-w-row .div-w-layout-grid {
    @apply h-[155px] absolute w-[228px] left-[74px] top-[33px];
}
.div-w-row .overlap-group {
    @apply h-[155px] absolute w-[70px] left-0 top-0;
}
.div-w-row .link {
    @apply h-[75px] absolute w-[70px] left-0 top-0;
}
.div-w-row .img {
    @apply h-6 absolute w-6 left-0 top-[22px];
}
.div-w-row .div-link-footer {
    @apply items-start inline-flex absolute pt-0 pb-[5px] px-0 left-7 top-6;
}
.div-w-row .text-wrapper-2 {
    @apply text-[#8294a3] text-sm font-semibold tracking-[0] leading-5 relative whitespace-nowrap w-fit -mt-px;
    font-family: "Open Sans-SemiBold", Helvetica;
}
.div-w-row .link-2 {
    @apply h-[75px] absolute w-[70px] left-0 top-10;
}
.div-w-row .link-3 {
    @apply h-[75px] absolute w-[70px] left-0 top-20;
}
.div-w-row .div-wrapper {
    @apply items-start flex max-w-[299.98px] absolute w-[70px] pl-0 pr-[89px] pt-0 pb-[5px] left-[158px] top-6;
}
.div-w-row .text-wrapper-3 {
    @apply self-stretch text-[#8294a3] text-sm font-semibold tracking-[0] leading-5 mr-[-72px] relative whitespace-nowrap w-fit -mt-px;
    font-family: "Open Sans-SemiBold", Helvetica;
}
.div-w-row .link-4 {
    @apply items-start flex max-w-[299.98px] absolute w-[70px] pl-0 pr-[72px] pt-0 pb-[5px] left-[158px] top-16;
}
.div-w-row .link-5 {
    @apply items-start flex max-w-[299.98px] absolute w-[70px] pl-0 pr-28 pt-0 pb-[5px] left-[158px] top-[104px];
}
.div-w-row .div-w-col-2 {
    @apply h-[219px] absolute w-[354px] left-[7px] top-[390px];
}
.div-w-row .heading-join-our {
    @apply text-[#8294a3] text-base font-medium h-6 tracking-[2px] leading-6 absolute whitespace-nowrap left-[68px] -top-px;
    font-family: "Rubik-Medium", Helvetica;
}
.div-w-row .stay-informed-about-wrapper {
    @apply h-[53px] absolute w-[354px] left-0 top-12;
}
.div-w-row .stay-informed-about {
    @apply text-[#8294a3] text-sm font-normal h-[52px] tracking-[0] leading-[26px] absolute left-4 -top-px;
    font-family: "Open Sans-Regular", Helvetica;
}
.div-w-row .form-tob-newsletter {
    @apply items-start flex flex-col gap-[18px] absolute w-[354px] left-0 top-[121px];
}
.div-w-row .input {
    @apply items-start bg-black border rounded flex h-[38px] relative w-[354px] px-[13px] py-[9.5px] border-solid border-[#2a333d];
}
.div-w-row .div-placeholder {
    @apply items-start flex relative w-[328px] pl-0 pr-[210px] py-0;
}
.div-w-row .text-wrapper-4 {
    @apply text-[#8294a3] text-sm font-normal tracking-[0] leading-[normal] relative w-fit -mt-px;
    font-family: "Open Sans-Regular", Helvetica;
}
.div-w-row .subscribe-wrapper {
    @apply items-start rounded inline-flex absolute pl-4 pr-[17.27px] py-1.5 border-[3px] border-solid border-[#576675] left-[120px] top-14;
}
.div-w-row .subscribe {
    @apply text-[#576675] text-xs font-medium tracking-[1.5px] leading-[30px] mt-[-3px] relative text-center whitespace-nowrap w-fit;
    font-family: "Rubik-Medium", Helvetica;
}
  