.m-banner {
    @apply h-[11] absolute w-[15px] ml-[80%] left-[9px] top-[37px];
}

.dropdownButton {
    @apply bg-[#3498db] text-[white] cursor-pointer border-[none];
}

.dropdownButton {
    @apply flex items-center;
}
.dropdownContainer {
    @apply relative;
}
.dropdownList {
    @apply absolute bg-[rgba(255,255,255,0)] w-[100px] flex flex-col z-[1] ml-[60%] p-0 border-2 border-solid border-[#ccc] left-0 top-full;
    list-style: none;
}
.dropdownList li {
    @apply cursor-pointer text-white font-[bold] p-2.5 hover:text-[#fab804];
}