.div-html-embed {
    align-items: flex-start;
    background-color: #10181f;
    border: 1px none;
    display: flex;
    min-height: 61px;
    /* min-width: 1444px; */
    position: relative;
    /* width: 100%; */
  }
  
  .div-html-embed .div-coin-marquee {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #222531;
    border-top-style: solid;
    border-top-width: 1px;
    height: 61px;
    overflow: hidden;
    position: relative;
    width: 1438px;
  }
  
  .div-html-embed .link-wrapper {
    align-items: flex-start;
    border-color: #40424e;
    border-right-style: solid;
    border-right-width: 1px;
    display: flex;
    left: 0;
    padding: 0px 31px 59px 0px;
    position: absolute;
    top: 1px;
    width: 141px;
  }
  
  .div-html-embed .link {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 11px 0px 0px 16px;
    position: relative;
  }
  
  .div-html-embed .text-wrapper {
    color: #808a9d;
    font-family: "Maven Pro-Regular", Helvetica;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-html-embed .SVG {
    height: 18px;
    position: relative;
    width: 94px;
  }
  
  .div-html-embed .div-coin-marquee-wrapper {
    height: 57px;
    left: 141px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    width: 1297px;
  }
  
  .div-html-embed .div {
    align-items: flex-start;
    display: inline-flex;
    left: -905px;
    padding: 0px 4400px 0px 880px;
    position: relative;
  }
  
  .div-html-embed .div-coin-marquee-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    min-width: 220px;
    padding: 0px 5px;
    position: relative;
  }
  
  .div-html-embed .link-2 {
    height: 57px;
    position: relative;
    width: 188px;
  }
  
  .div-html-embed .element-png {
    height: 20px;
    left: 9px;
    position: absolute;
    top: 18px;
    width: 11px;
  }
  
  .div-html-embed .div-coin-marquee-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 1.65px;
    left: 28px;
    padding: 0px 28px 0.35px 0px;
    position: absolute;
    top: 15px;
  }
  
  .div-html-embed .div-coin-marquee-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
  }
  
  .div-html-embed .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 0px 1px;
    position: relative;
  }
  
  .div-html-embed .text-wrapper-2 {
    color: #ffffff;
    font-family: "Maven Pro-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 12px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-html-embed .div-coin-marquee-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
  }
  
  .div-html-embed .text-wrapper-3 {
    color: #a1a7bb;
    font-family: "Maven Pro-Regular", Helvetica;
    font-size: 9.9px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 11px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-html-embed .div-coin-marquee-6 {
    height: 11px;
    position: relative;
    width: 48.86px;
  }
  
  .div-html-embed .span-coin-marquee {
    border-color: #ea3943;
    border-left-style: solid;
    border-left-width: 4px;
    border-right-style: solid;
    border-right-width: 4px;
    border-top-style: solid;
    border-top-width: 5px;
    height: 18px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 8px;
  }
  
  .div-html-embed .text-wrapper-4 {
    color: #ea3943;
    font-family: "Maven Pro-SemiBold", Helvetica;
    font-size: 11px;
    font-weight: 600;
    height: 11px;
    left: 11px;
    letter-spacing: 0;
    line-height: 11px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .div-html-embed .pseudo {
    background-color: #40424e;
    height: 20px;
    left: 219px;
    position: absolute;
    top: 20px;
    width: 1px;
  }
  
  .div-html-embed .img {
    height: 20px;
    left: 0;
    position: absolute;
    top: 18px;
    width: 20px;
  }
  
  .div-html-embed .div-coin-marquee-7 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 1.65px;
    left: 28px;
    padding: 0px 50px 0.35px 0px;
    position: absolute;
    top: 15px;
  }
  
  .div-html-embed .div-coin-marquee-8 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 0px 3.81e-6px 0px 0px;
    position: relative;
  }
  
  .div-html-embed .div-coin-marquee-9 {
    height: 11px;
    position: relative;
    width: 48.8px;
  }
  
  .div-html-embed .div-coin-marquee-10 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 1.65px;
    left: 28px;
    padding: 0px 88px 0.35px 0px;
    position: absolute;
    top: 15px;
  }
  
  .div-html-embed .div-coin-marquee-11 {
    height: 11px;
    position: relative;
    width: 46.99px;
  }
  
  .div-html-embed .div-coin-marquee-12 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 1.65px;
    left: 28px;
    padding: 0px 66px 0.35px 0px;
    position: absolute;
    top: 15px;
  }
  
  .div-html-embed .div-coin-marquee-13 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 0px 0px 11px;
    position: relative;
  }
  
  .div-html-embed .text-wrapper-5 {
    color: #16c784;
    font-family: "Maven Pro-SemiBold", Helvetica;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 11px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-html-embed .div-coin-marquee-14 {
    height: 11px;
    position: relative;
    width: 48.47px;
  }
  
  .div-html-embed .div-coin-marquee-15 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 1.65px;
    left: 28px;
    padding: 0px 75px 0.35px 0px;
    position: absolute;
    top: 15px;
  }
  
  .div-html-embed .div-coin-marquee-16 {
    height: 11px;
    position: relative;
    width: 27.11px;
  }
  